aside {
    background-color: #222;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
a { color: gray;}

body {
    margin: 0;
}
header {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

header .logo .l-icon { 
    width: 118px; 
    margin: 30px;
}

header .settings {
    display: inline-flex;
    align-items:center;
    justify-content: space-evenly;
    justify-items: right;
}

header .settings .u-icon {
    width: 77px;
    height: 42px;
    margin: 10px;
    cursor: pointer;
}
header .settings .w-icon {
    width: 20px;
    margin: 10px;
    cursor: pointer;
}
header .settings .host {
    width: 95.55px;
    height: 34px;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

header .menu {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

li {
    list-style: none;
    float: left;
    margin: 15px;
    white-space: nowrap;
    cursor: pointer;
}

#stellabyul {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#stellabyul .back-img {
    width: 100%;
    height: 100%;
    text-align: center;
}

#stellabyul .welcome {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;
    margin-bottom: 30px;
}
#stellabyul .back-img{
    position: relative;
    z-index: 1;
    top: -30px;
}
#stellabyul .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    border-radius: 40px;
    position: relative;
    z-index: 2;
}

#stellabyul .search .search-icon {
    width: 45px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}


#stellabyul .loc-input {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: none;
    color: #222222;
    text-overflow: ellipsis;
}

#stellabyul .ci-input {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: none;
    color: #222222;
    text-overflow: ellipsis;
}
#stellabyul .co-input {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: none;
    color: #222222;
    text-overflow: ellipsis;
}
#stellabyul .p-input {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: none;
    color: #222222;
    text-overflow: ellipsis;
}