
/*CSS style from HYUNJUN*/
#hyunjun a{
    color: black;
    text-decoration: none;
}

#experience .title{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

#experience .introduction{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

#experience .category{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#experience .category-introduction{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}